html {
  font-size: 10px;
  background: url(./b9r5sEL.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button:active {
  animation: .3s infinite alternate activeBG;
}

.keys {
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}
button.key{
  outline: none;
  align-self: center;
  justify-self: center;
}
.repeat-list{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}

#play{
  margin-left: 10%;
}

.soundDescr{
  line-height: 3rem;
  padding: 1rem 1rem;
  justify-self: flex-start;
  align-self: flex-start; 
  background: rgba(0,0,0,0.7);
}

#saved-sounds{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-self: flex-start;
}
#clear{
  margin-left: 10%;
}

@keyframes activeBG{
  0%{ background: rgba(0,0,0,0.4); }
  50%{ background: rgba(255,255,255,0.4);}
  100%{ background: rgba(0,0,0,0.4); }
}
